<form id="form-user" name="form-user" method="post">
    <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
            <h6 class="semibold"><a ui-sref="settings">Control Panel</a> > <a ui-sref="users">Users</a> > View</h6> 
            <div class="row">
                        <div class="col-12 col-sm-12 col-md-12">
                                <table st-table="displayedCollection" st-safe-src="vm.users" class="table" height="200">
                                    <thead>
                                            <tr style="background-color: #f5f5f5;">
                                                    <td colspan="4" class="align-top">
                                                        <div class="pull-left align-top semibold" st-template="pagination.html" st-pagination="" st-items-by-page="vm.itemsByPage"></div>
                                                    </td>
                                                    <td colspan="6">
                                                            <div class="form-group pull-right">
                                                                    <!-- <a class="btn btn-primary-warning" href="#"><i class=" fa fa-lock"></i>&nbsp;&nbsp;&nbsp;Suspend User&nbsp;&nbsp;</a>  
                                                                    <a class="btn btn-primary-danger" href="#"><i class="fa fa-user-times"></i>&nbsp;&nbsp;&nbsp;Delete User&nbsp;&nbsp;</a> -->
                                                                    <a class="btn btn-sm btn-primary-success" href="#" onclick="window.history.back();"><i class=" fa fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>  
                                                                    <a ng-if="vm.loggedInUser.role == 'Platform Admin.' || vm.loggedInUser.role=='Site Admin.'" class="btn btn-sm btn-primary" ui-sref="users_add"><i class=" fa fa-user-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;Add User&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                                            </div>   
                                                    </td>
                                            </tr>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                        <th st-sort="firstName">First&nbsp;Name</th>
                                        <th st-sort="lastName">Last&nbsp;Name</th>
                                        <th st-sort="email">Email / Username</th>
                                        <th st-sort="organisation">Organisation</th>
                                        <th st-sort="mobileNo">Mobile&nbsp;No</th>
                                        <th st-sort="role">Role</th>
                                        <th class="text-center" st-sort="status">Status</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <th colspan="10"><input st-search="" class="form-control" placeholder="Global Search ..." type="text"/></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                            <!-- style="background-color:black;" ng-class="{'selected':$index == vm.selectedRow}" -->
                                            <!-- <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in displayedCollection"  ng-click="vm.setClickedRow($index)"> -->
                                        <tr ng-repeat="row in displayedCollection"  ng-click="vm.setClickedRow($index)">
                                            <td><i class="fa fa-user color-blue"></i></td>
                                            <td cs-select="row">
                                                <input type="checkbox" title="{{$index == selectedRow ? 'checked': ''}}" ng-click="vm.setClickedRow($index)"/>
                                            </td>
                                            <td>{{row.firstName.replace(' ', '&nbsp;')}}</td>
                                            <td>{{row.lastName.replace(' ', '&nbsp;')}}</td>
                                            <td><a ng-href="mailto:{{row.email}}">{{row.email}}</a></td>
                                            <td>{{row.organisation.name.replace(' ', '&nbsp;')}}</td>
                                            <td>{{row.mobileNo.replace(' ', '&nbsp;')}}</td>
                                            <td>{{row.role.replace(' ', '&nbsp;')}}</td>
                                            <td class="text-center"><i ng-class="row.status == 'true'? 'glyphicon glyphicon-flag color-green': 'glyphicon glyphicon-flag color-orange'" title="{{row.status ? 'Active' : 'Suspended'}}"></i></td>
                                            <td ng-if="vm.loggedInUser.role == 'Platform Admin.' || vm.loggedInUser.role=='Site Admin.'">
                                                <div class="btn-group pull-right" role="group" aria-label="...">
                                                    <a ui-sref="users_edit({_id:row._id})" title="Edit"  class="btn btn-sm btn-primary">
                                                        <i class="fa fa-pencil-alt"></i>
                                                    </a>
                                                    <a ng-href="mailto:{{row.email}}"  title="Message : {{row.email}}" class="btn btn-sm btn-primary-success">
                                                        <i class="fa fa-envelope"></i>
                                                    </a> 
                                                    <a href="javascript:void(0);" ng-if="row.status =='true'" ng-confirm-click="Are you sure to suspend this record ?" confirmed-click="vm.activateUser({{row}}, 'false');" title="Suspend Account" class="btn btn-sm btn-primary-warning no-animate">
                                                            &nbsp;<i class="fa fa-lock"></i>
                                                    </a> 
                                                    <a href="javascript:void(0);"  ng-if="row.status =='false'" ng-confirm-click="Are you sure to activate this record ?" confirmed-click="vm.activateUser({{row}}, 'true');" title="Activate Account" class="btn btn-sm btn-primary-warning no-animate">
                                                        <i class="fa fa-lock-open"></i>
                                                    </a> 
                                                    <!-- <button ng-confirm-click="row.status =='true'? 'Are you sure to suspend this record ?' : 'Are you sure to activate this record ?'" confirmed-click="vm.activateUser({{row}}, 'true');" title="Activate Account" class="btn btn-sm btn-primary-warning">
                                                            <i ng-class="row.status =='true'? 'fa fa-lock' : 'fa fa-lock-open'"></i>
                                                    </button> -->
                                                    <a href="javascript:void(0);" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="vm.deleteUser({{row}});" title="Delete" class="btn btn-sm btn-primary-danger">
                                                        <i class="fa fa-trash-alt"></i>
                                                    </a>           
                                                    <!-- <a class="btn btn-sm btn-danger" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="vm.deleteUser();">Delete</a> -->
                   
                                                </div> 
                                            </td>
                                            <td ng-if="vm.loggedInUser.role != 'Platform Admin.' && vm.loggedInUser.role!='Site Admin.'">
                                                <div class="btn-group pull-right" role="group" aria-label="...">   
                                                    <a ng-href="mailto:{{row.email}}"  title="Message : {{row.email}}" class="btn btn-sm btn-primary-success">
                                                        <i class="fa fa-envelope"></i>
                                                    </a> 
                                                </div> 
                                            </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                           
                                    </tfoot>
                                </table>
                        </div> 
            </div>
            <!--.row-->   
            <!-- <div class="row">
                    <div class="col-md-12 text-right">
                        <div class="form-group">
                            <a class="btn btn-primary-success" href="#" onclick="window.history.back();"><i class=" fa fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>  
                            <a class="btn btn-primary-warning" href="#"><i class=" fa fa-lock"></i>&nbsp;&nbsp;&nbsp;Suspend User&nbsp;&nbsp;</a>  
                            <a class="btn btn-primary-danger" href="#"><i class="fa fa-user-times"></i>&nbsp;&nbsp;&nbsp;Delete User&nbsp;&nbsp;</a>
                            <a class="btn btn-primary" href="#/settings/users/add"><i class=" fa fa-user-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;Add User&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        </div>       
                    </div>
            </div> -->
            <!--.row-->   
        </div>
    </div>
<!--.row-->     
</form>


