<li class="card clickable  border-0 rounded d-flex align-items-stretch justify-content-between block widget widget-weather" style="align-items: center; "
    gridster-item="widget" ng-click="vm.selectWidget($index)" ondblclick="javascript:$('#widgetSingleValueModal').modal('show');">
        <div class="widget-weather-big">
            <div class="icon">
                <i class="font-icon font-icon-weather-clouds"></i>
            </div>
            <div class="info">
                <div class="degrees">29°</div>
                <div class="weather">Cloudy</div>
            </div>
        </div>
        <div class="widget-weather-content widget-weather-slider" data-slick='{"arrows": false, "dots": true, "slidesToShow": 4, "slidesToScroll": 4, "infinite": 4}'>
            <div class="widget-weather-item">
                <div class="widget-weather-item-time">Now</div>
                <div class="widget-weather-item-info">
                    <i class="font-icon font-icon-weather-cloud"></i>
                    <div class="degrees">29°</div>
                </div>
            </div>
            <div class="widget-weather-item">
                <div class="widget-weather-item-time">10:00</div>
                <div class="widget-weather-item-info">
                    <i class="font-icon font-icon-weather-cloud-circles"></i>
                    <div class="degrees">28°</div>
                </div>
            </div>
            <div class="widget-weather-item">
                <div class="widget-weather-item-time">11:00</div>
                <div class="widget-weather-item-info">
                    <i class="font-icon font-icon-weather-cloud-drops-lightning"></i>
                    <div class="degrees">27°</div>
                </div>
            </div>
            <div class="widget-weather-item">
                <div class="widget-weather-item-time">12:00</div>
                <div class="widget-weather-item-info">
                    <i class="font-icon font-icon-weather-cloud-moon"></i>
                    <div class="degrees">26°</div>
                </div>
            </div>
            <div class="widget-weather-item">
                <div class="widget-weather-item-time">13:00</div>
                <div class="widget-weather-item-info">
                    <i class="font-icon font-icon-weather-cloud-one-circle"></i>
                    <div class="degrees">28°</div>
                </div>
            </div>
            <div class="widget-weather-item">
                <div class="widget-weather-item-time">14:00</div>
                <div class="widget-weather-item-info">
                    <i class="font-icon font-icon-weather-cloud-sun"></i>
                    <div class="degrees">15°</div>
                </div>
            </div>
            <div class="widget-weather-item">
                <div class="widget-weather-item-time">15:00</div>
                <div class="widget-weather-item-info">
                    <i class="font-icon font-icon-weather-cloud-one-drop"></i>
                    <div class="degrees">28°</div>
                </div>
            </div>
            <div class="widget-weather-item">
                <div class="widget-weather-item-time">16:00</div>
                <div class="widget-weather-item-info">
                    <i class="font-icon font-icon-weather-cloud-rain-snow"></i>
                    <div class="degrees">28°</div>
                </div>
            </div>
            <div class="widget-weather-item">
                <div class="widget-weather-item-time">17:00</div>
                <div class="widget-weather-item-info">
                    <i class="font-icon font-icon-weather-cloud-two-circles"></i>
                    <div class="degrees">12°</div>
                </div>
            </div>
            <div class="widget-weather-item">
                <div class="widget-weather-item-time">18:00</div>
                <div class="widget-weather-item-info">
                    <i class="font-icon font-icon-weather-cloud-two-drops"></i>
                    <div class="degrees">28°</div>
                </div>
            </div>
            <div class="widget-weather-item">
                <div class="widget-weather-item-time">19:00</div>
                <div class="widget-weather-item-info">
                    <i class="font-icon font-icon-weather-cloud-two-snow"></i>
                    <div class="degrees">28°</div>
                </div>
            </div>
            <div class="widget-weather-item">
                <div class="widget-weather-item-time">20:00</div>
                <div class="widget-weather-item-info">
                    <i class="font-icon font-icon-weather-clound-lightning"></i>
                    <div class="degrees">28°</div>
                </div>
            </div>
            <div class="widget-weather-item">
                <div class="widget-weather-item-time">21:00</div>
                <div class="widget-weather-item-info">
                    <i class="font-icon font-icon-weather-funnel"></i>
                    <div class="degrees">28°</div>
                </div>
            </div>
            <div class="widget-weather-item">
                <div class="widget-weather-item-time">22:00</div>
                <div class="widget-weather-item-info">
                    <i class="font-icon font-icon-weather-thermometer"></i>
                    <div class="degrees">28°</div>
                </div>
            </div>
        </div>
</li>